* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.login-form {
  position: relative;
  z-index: 2;
}

.login-form h1 {
  font-size: 32px;
  color: black;
  text-align: center;
}
.login-form hr {
  width: 100%;
}

.inp-area {
  justify-content: center;
  margin: 10px;
}
.inp-area input {
  position: relative;
  left: 50px;
}

.inp-area label {
  position: absolute;
  left: 0px;
}
.btn-area {
  margin-top: 30px;
}

.btn-area button {
  position: relative;
  top: -10px;
  left: 60px;
  padding: px;
}
